/*______________light mode colors______________________*/
:root {
  --color-background: RGB(60,106,130);
  --color-accent:RGB(24, 42, 48);
  --color-text: RGB(24, 42, 48);
  --color-navbar-dark-light: RGB(60,106,130);
  --color-navbar-dark-dark: RGB(54,71,81);
  --color-link: #61dafb;
}
/*______________dark mode colors______________________*/
body.dark-mode {
  --color-background:black;
  --color-accent: rgb(50, 50, 70);
  --color-text: grey;
  --color-navbar-dark-light: rgb(104, 104, 142);
  --color-navbar-dark-dark: rgb(50, 50, 70);
  --color-link: #282c34;
}
/*_____________Home Page Layout and Buttons_______________________*/
.home-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.home-page-buttons{
  border: solid black 1px;
  flex-grow: 1;
  display: flex;
}
.nav-btn-row {
  margin: 10px ;
  height: 50%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  background-color: var(--color-background);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: var(--color-navbar-dark-light);
  padding: 20px 0;
  margin-top: 2rem;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.navbar-dark {
  background-image: linear-gradient(to right, var(--color-navbar-dark-light), var(--color-navbar-dark-light));
  margin-bottom: 0.0rem;
  min-height: 8rem;
  max-height: 15vh;
}

.navbar-brand h1 {
  color: var(--color-text);
  font-size: max(4vw, 30px);
  text-align: center;
  flex-grow: 1;
  white-space: normal;
}
.dropdown{
  color: var(--color-text);
}
.dropdown svg {
  color: var(--color-text);
}
/*_______________DROPZONE____________________*/
.dropzone {
  border: 0px solid black;
  border-radius: 15px;
  background-color: var(--color-background);
  padding: 10px;
  text-align: center;
}

.drag-drop-container{
  border: solid black 1px;
  border-radius: 15px;
  width: 100%;
  height:15vh;
  background-color: var(--color-background);
}

.drag-drop-box, .file-select {
  padding: 5px;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  max-width: 10rem;
}

.navbar-nav {
  font-size: 3vw;
}

.dropdown .btn, .dropdown .btn-secondary {
  font-size: 100%;
}

.login-form-box {
  border: 1px solid !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .dropdown .btn, .dropdown .btn-secondary {
    font-size: 20px;
  }

  .terms-modal, .login-modal {
    max-width: 90%;
  }
}

.terms-modal, .login-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto !important;
}

.terms-modal-header{
  display: flex;
  font-display: center;
  text-align: center;
}

.terms-required {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-text);
}

.App-link {
  color: var(--color-link);
}
.page-row{
  padding: 5px;
  background-color: var(--color-accent);
  color:var(--color-text);
}

.data-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px; /* Adjust as needed */
  border: solid black 1px;
  border-radius: 15px;
  width: 100%;
  height:85vh;
}

.data-pill-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: solid black 1px;
  border-radius: 15px;
  width: 100%;
  height:85vh;
  overflow-y: auto;
  background-color: var(--color-background);
}

.preview-container {
  display: flex;
  flex-direction: column;
  border: solid black 5px;
  border-radius: 15px;
  width: 100%;
  height: 85vh;
  overflow-y: auto;
  background-color: var(--color-background);
  padding-top: 5px;
}

.parent-pill-row {
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: grey;
}

.pill-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pill-row{
  display:flex;
  justify-content: center;
}
/*______PREVIEW TABLE HEADERS____________*/
.sticky-header th {
  position: sticky;
  top: 0;
  background: grey;
  z-index: 10;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




